{% load static %}

<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js' %}"></script>
<script src="{% static 'assets/custom/js/scripts.js' %}"></script>

<footer class="container-fluid" style="background-image: url(/media/BG2.svg);">
  <div class="container text-light">
    <div class="row">
      <div class="col">
        <div class="p-1">
          <span class="align-middle p-1" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: small;">Feito com django por Humberto Matondo</span>
        </div>
      </div>
    </div>
  </div>
</footer>
